
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-work:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-open:before { content: '\f14c'; } /* '' */
.icon-yt:before { content: '\f16a'; } /* '' */
.icon-school:before { content: '\f19d'; } /* '' */
.icon-steam:before { content: '\f1b7'; } /* '' */
.icon-snap:before { content: '\f2ad'; } /* '' */
.icon-fb:before { content: '\f308'; } /* '' */