body{
	background: #c12255;
}
h1{
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 7em;
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -5%) rotate(10deg);
	animation: updown 2s infinite;
	filter: drop-shadow(1vw 1vh 8px  #000);
}

@keyframes updown{
    0% {top: 25%;filter: drop-shadow(1vw 1vh 8px  #000);}
    50% {top: 27.5%;filter: drop-shadow(2vw 0vh 16px  #000);}
	100% {top: 25%;filter: drop-shadow(1vw 1vh 8px  #000);}
}