#div-container1{
	padding: 0;
	margin: 0;
	z-index: -1;
	div{
		position: absolute;
		background: #000;
		padding: 0;
		margin: 0;
		z-index: -1;
	}
	#a1{
		width: $size1;
		height: $size1;
		bottom: 0;
		left: 0;
	}
	#a2{
		width: $size2;
		height: $size2;
		bottom: 0;
		left: $size1 + $delay;
	}
	#a3{
		width: $size2;
		height: $size2;
		bottom: $size2 + $delay;
		left: $size1 + $delay;
	}
	#a4{
		width: $size3;
		height: $size3;
		bottom: 0;
		left: $size1 + $size2 + 2*$delay;
	}
	#a5{
		width: $size3;
		height: $size3;
		bottom: $size3 + $delay;
		left: $size1 + $size2 + 2*$delay;
	}
	#a6{
		width: $size3;
		height: $size3;
		bottom: 0;
		left: $size1 + $size2 + $size3 + 3*$delay;
	}
	#a7{
		width: $size2;
		height: $size2;
		bottom: $size1 + $delay;
		left: 0;
	}
	#a8{
		width: $size2;
		height: $size2;
		bottom: $size1 + $delay;
		left: $size2 + $delay;
	}
	#a9{
		width: $size3;
		height: $size3;
		bottom: $size1 + $delay;
		left: 2*$size2 + 2*$delay;
	}
	#a10{
		width: $size3;
		height: $size3;
		bottom: $size1 + $delay;
		left: 2*$size2 + $size3 + 3*$delay;
	}
	#a11{
		width: $size3;
		height: $size3;
		bottom: $size1 + $size3 + 2*$delay;
		left: 2*$size2 + 2*$delay;
	}
	#a12{
		width: $size2;
		height: $size2;
		bottom: -$size2 - $delay;
		left: 0;
	}
	#a13{
		width: $size3;
		height: $size3;
		bottom: -$size3 - $delay;
		left: $size2 + $delay;
	}
	#a14{
		width: $size3;
		height: $size3;
		bottom: -$size2 - $delay;
		left: $size2 + $delay;
	}
	#a15{
		width: $size3;
		height: $size3;
		bottom: -$size3 - $delay;
		left: $size2 + $size3 + 2*$delay;
	}
}
#div-container2{
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: -1;
	div{
		padding: 0;
		margin: 0;
		position: absolute;
		background:#000;
	}
	#b1{
		width: $size1;
		height: $size1;
		top: -$size1;
		right: 0;
	}
	#b2{
		width: $size2;
		height: $size2;
		top: -$size1 - $size2 - $delay;
		right: 0;
	}
	#b3{
		width: $size3;
		height: $size3;
		top: -$size1 - $size3 - $delay;
		right: $size2 + $delay;
	}
	#b4{
		width: $size3;
		height: $size3;
		top: -$size1 - $size3 - $delay;
		right: $size2 + $size3 + 2*$delay;
	}
	#b5{
		width: $size3;
		height: $size3;
		top: -$size1 - 2*$size3 - 2*$delay;
		right: $size2 + $delay;
	}
	#b6{
		width: $size2;
		height: $size2;
		top: $delay;
		right: 0;
	}
	#b7{
		width: $size3;
		height: $size3;
		top: $delay;
		right: $size2 + $delay;
	}
	#b8{
		width: $size3;
		height: $size3;
		top: $size2 + 2*$delay;
		right: 0;
	}
}
#div-container3{
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: -1;
	div{
		padding: 0;
		margin: 0;
		position: absolute;
		background: #000;
	}
	#c1{
		width: $size2;
		height: $size2;
		bottom: 0;
		right: 0;
	}
	#c2{
		width: $size3;
		height: $size3;
		bottom: $size2 + $delay;
		right: 0;
	}
	#c3{
		width: $size3;
		height: $size3;
		bottom: $size2 + $delay;
		right: $size3 + $delay;
	}
	#c4{
		width: $size3;
		height: $size3;
		bottom: 0;
		right: $size2 + $delay;
	}
	#c5{
		width: $size3;
		height: $size3;
		bottom: -$size3 - $delay;
		right: 0;
	}
	#c6{
		width: $size3;
		height: $size3;
		bottom: -$size3 - $delay;
		right: $size3 + $delay;
	}
	#c7{
		width: $size3;
		height: $size3;
		bottom: 2*-$size3 - 2*$delay;
		right: 0;
	}
}
#div-container4{
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: -1;
	div{
		padding: 0;
		margin: 0;
		position: absolute;
		background: #000;
	}
	#d1{
		width: $size2;
		height: $size2;
		bottom: 0;
		left: 0;
	}
	#d2{
		width: $size3;
		height: $size3;
		bottom: 0;
		left: $size2 + $delay;
	}
	#d3{
		width: $size3;
		height: $size3;
		bottom: $size3 + $delay;
		left: $size2 + $delay;
	}
	#d4{
		width: $size3;
		height: $size3;
		bottom: 0;
		left: $size2 + $size3 + 2*$delay;
	}
	#d5{
		width: $size3;
		height: $size3;
		bottom: $size2 + $delay;
		left: 0;
	}
	#d6{
		width: $size2;
		height: $size2;
		bottom: -$size2 - $delay;
		left: 0;
	}
	#d7{
		width: $size3;
		height: $size3;
		bottom: -$size3 - $delay;
		left: $size2 + $delay;
	}
}
#div-container5{
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: -1;
	div{
		padding: 0;
		margin: 0;
		position: absolute;
		background: #000;
	}
	#e1{
		width: $size2;
		height: $size2;
		bottom: 0;
		right: 0;
	}
	#e2{
		width: $size3;
		height: $size3;
		bottom: 0;
		right: $size2 + $delay;
	}
	#e3{
		width: $size3;
		height: $size3;
		bottom: $size3 + $delay;
		right: $size2 + $delay;
	}
	#e4{
		width: $size3;
		height: $size3;
		bottom: $size2 + $delay;
		right: 0;
	}
}